.transcribe .speaker-download-btn, .transcribe .transcribe-text
{
    max-height: 500px;
    overflow-y: scroll;
}
.transcribe .speaker-download-btn::-webkit-scrollbar
{
    width: 7px;
    background-color: #1c1e1f;
    border-radius: 20px;
}
.transcribe .speaker-download-btn::-webkit-scrollbar-thumb
{
    background-color: #3c3f3c;
    border-radius: 20px;
}
.transcribe .transcribe-text::-webkit-scrollbar
{
    width: 7px;
    background-color: #1c1e1f;
    border-radius: 20px;
}
.transcribe .transcribe-text::-webkit-scrollbar-thumb
{
    background-color: #3c3f3c;
    border-radius: 20px;
}
.transcribe input, .transcribe textarea
{
    border: 1px solid #ff9a00;
    border-radius: 0;
    background-color: #3c3c3c;
    transition: 0.5s;
    color: #fff;
}
.transcribe input:focus, .transcribe textarea:focus
{
    box-shadow: none;
    border-color: #ff9a00;
    background-color: #5c5c5c;
    color: #fff;
}
.transcribe .btn-transcribe
{
    display: block;
    color: #fff;
    border: none;
    background-color: #ff9a00;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: 0.5s;
}